<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--levels (1)
    A : image data structure-->
    <add value="ImageWidth"                         key="256"/>
    <add value="ImageLength"                        key="257"/>
    <add value="BitsPerSample"                      key="258"/>
    <add value="Compression"                        key="259"/>
    <add value="PhotometricInterpretation"          key="262"/>
    <add value="Orientation"                        key="274"/>
    <add value="SamplesPerPixel"                    key="277"/>
    <add value="PlanarConfiguration"                key="284"/>
    <add value="YCbCrSubSampling"                   key="530"/>
    <add value="YCbCrPositioning"                   key="531"/>
    <add value="XResolution"                        key="282"/>
    <add value="YResolution"                        key="283"/>
    <add value="ResolutionUnit"                     key="296"/>

    <!-->B : recording offset-->
    <add value="JPEGInterchangeFormat"              key="513"/>
    <add value="JPEGInterchangeFormatLength"        key="514"/>

    <!--C : image data characteristics-->
    <add value="TransferFunction"                   key="301"/>
    <add value="WhitePoint"                         key="318"/>
    <add value="PrimaryChromaticities"              key="319"/>
    <add value="YCbCrCoefficients"                  key="529"/>
    <add value="ReferenceBlackWhite"                key="532"/>

    <!--D : other-->
    <add value="DateTime"                            key="306"/>
    <add value="ImageDescription"                    key="270"/>
    <add value="Make"                                key="271"/>
    <add value="Model"                               key="272"/>
    <add value="Software"                            key="305"/>
    <add value="Artist"                              key="315"/>
    <add value="Copyright"                           key="3432"/>

    <!--EXIF IFD Attributes
    A : version-->
    <add value="ExifVersion"                        key="36864"/>

    <!--default value 0220-->
    <add value="FlashPixVersion"                    key="40960"/>
    <!--default value 0100 == Flashpix Format Version 1.0, other == reserved-->

    <!--B : image data characteristics-->
    <add value="ColorSpace"                         key="40961"/>
    <!--1 == sRGB, FFFF.H == Uncalibrated, Other == reserved-->

    <!--C : image configuration-->
    <add value="ComponentsConfiguration"            key="37121"/>
    <add value="CompressedBitsPerPixel"             key="37122"/>
    <add value="PixelXDimension"                    key="40962"/>
    <!--short or long-->
    <add value="PixelYDimension"                    key="40963"/>
    <!--short or long-->

    <!--D : user information-->
    <add value="MakerNote"                          key="37500"/>
    <add value="UserComment"                        key="37510"/>

    <!--F : Date and Time-->
    <add value="DateTimeOriginal"                   key="36867"/>
    <add value="DateTimeDigitized"                  key="36868"/>
    <add value="SubSecTime"                         key="37520"/>
    <add value="SubSecTimeOriginal"                 key="37521"/>
    <add value="SubSecTimeDigitized"                key="37522"/>

    <!--Levels (2-->
    <!--G : picture taking conditions-->
    <add value="ExposureTime"                       key="33434"/>
    <add value="FNumber"                            key="33437"/>
    <add value="ExposureProgram"                    key="34850"/>
    <add value="SpectralSensitivity"                key="34852"/>
    <add value="ISOSpeedRatings"                    key="34855"/>
    <add value="OECF"                               key="34856"/>
    <add value="ShutterSpeedValue"                  key="37377"/>
    <add value="ApertureValue"                      key="37378"/>
    <add value="BrightnessValue"                    key="37379"/>
    <add value="ExposureBiasValue"                  key="37380"/>
    <add value="MaxApertureValue"                   key="37381"/>
    <add value="SubjectDistance"                    key="37382"/>
    <add value="MeteringMode"                       key="37383"/>
    <add value="LightSource"                        key="37384"/>
    <add value="Flash"                              key="37385"/>
    <add value="FocalLength"                        key="37386"/>
    <add value="FlashEnergy"                        key="41483"/>
    <add value="SpatialFrequencyResponse"           key="41484"/>
    <add value="FocalPlaneXResolution"              key="41486"/>
    <add value="FocalPlaneYResolution"              key="41487"/>
    <add value="FocalPlaneResolutionUnit"           key="41488"/>
    <add value="SubjectLocation"                    key="41492"/>
    <add value="ExposureIndex"                      key="41493"/>
    <add value="SensingMethod"                      key="41495"/>
    <add value="FileSource"                         key="41728"/>
    <add value="SceneType"                          key="41729"/>
    <add value="CFAPattern"                         key="41730"/>

    <!--levels (3-->
    <!--A : GPS-->
    <add value="GPSVersionID"                        key="0"/>
    <add value="GPSLatitudeRef"                      key="1"/>
    <add value="GPSLatitude"                         key="2"/>
    <add value="GPSLongitudeRef"                     key="3"/>
    <add value="GPSLongitude"                        key="4"/>
    <add value="GPSAltitudeRef"                      key="5"/>
    <add value="GPSAltitude"                         key="6"/>
    <add value="GPSTimeStamp"                        key="7"/>
    <add value="GPSSatellites"                       key="8"/>
    <add value="GPSStatus"                           key="9"/>
    <add value="GPSMeasureMode"                      key="10"/>
    <add value="GPSDOP"                              key="11"/>
    <add value="GPSSpeedRef"                         key="12"/>
    <add value="GPSSpeed"                            key="13"/>
    <add value="GPSTrackRef"                         key="14"/>
    <add value="GPSTrack"                            key="15"/>
    <add value="GPSImgDirectionRef"                  key="16"/>
    <add value="GPSImgDirection"                     key="17"/>
    <add value="GPSMapDatum"                         key="18"/>
    <add value="GPSDestLatitudeRef"                  key="19"/>
    <add value="GPSDestLatitude"                     key="20"/>
    <add value="GPSDestLongitudeRef"                 key="21"/>
    <add value="GPSDestLongitude"                    key="22"/>
    <add value="GPSDestBearingRef"                   key="23"/>
    <add value="GPSDestBearing"                      key="24"/>
    <add value="GPSDestDistanceRef"                  key="25"/>
    <add value="GPSDestDistance"                     key="26"/>
  </appSettings>
</configuration>